out/
src/boot/
.idea
.vscode
.idea/editor.xml
.idea/genesis_tutorial_ataque.iml
.idea/modules.xml
.DS_Store
src/main.h
res/gfx.h
res/sound.h
res/sprites.h
res/stages.h
__MACOSX

# Ignore generated resource files
res/*.res
res/*.h
res/gfx/*
res/sfx/*
res/sprite/*
!res/.gitkeep

# Ignore everything inside web/doc and web/wasm
web/doc/*
web/wasm/*

# Except the .gitkeep files
!web/doc/.gitkeep
!web/wasm/.gitkeep